div{
    color: darkgreen;
    text-align: left;
 }
 h1 {
    border-style: solid;
    border-color:rgb(1, 92, 134);
    border-width: 5px; 
}
 .pictures {
    width: 300px;
    height: 200px;
    position: relative;
 }
 .right{
   float:right;
   padding-left: 15px;
}
 .img2 {
    float:right;
 }
.img3 {
   float:right;
}